$accent: #ff42a5;
$base: #5b5273;
$black: (
  '0': #000000,
  '600': #473e5f,
  '800': #1f1637,
  '900': #0b0223,
);

$blue: (
  '0': #51a5c9,
);

$discord: #6c89e0;
$fb: #1877f2;

$green: (
  '0': #b3d661,
  '5': #398b4d,
);

$gray: (
  '0': #e3dfec,
  '5': #f5f5f5,
  '10': #ebebeb,
  '100': #b5accd,
  '200': #a198b9,
  '300': #8d84a5,
  '400': #797091,
  '500': #eeedf0,
);

$red: (
  '0': #de5a48,
  '5': #f33621,
  '10': rgba(243, 54, 33, 0.04),
);

$surface: #f5f5f5;
$white: #ffffff;
$purple: #b5accd;
$lightPink:#ffb6c1;

$header_background: #5b527314;
$table_row_color_dark: #5b52730a;
