$font-family-primary: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";

//***************font-weights***************//
$font-weight-200: 200;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;
$font-weight-normal: normal;
$font-weight-bold: bold;

//***************font-sizes***************//
$font-size-48: 48px;
$font-size-36: 36px;
$font-size-32: 32px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;
$font-size-8: 8px;

$box-shadow-button: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);

$box-shadow-popup: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.08);

$box-shadow-pill: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.04);

$box-shadow-pink: 0px 4px 16px rgba(255, 66, 165, 0.24);
$box-shadow-green: 0px 4px 16px rgba(179, 214, 97, 0.24);

$border-white-with-opacity: rgba(255, 255, 255, 0.5);

$avatar-filter: 0px 4px 16px rgba(0, 0, 0, 0.08);

$popup-overlay: rgba(235, 235, 235, 0.88);

$container-width: 120rem;
$grid-gap: 24px;
$grid-col-width: calc(50vw - 6.67vw);
